.personal-data__header {
  height: 130px;
  position: relative;
  margin-bottom: 30px;
  transition: height .5s ease;

  &.editing {
    height: 150px;
  }
}

.personal-data__content {
  display: grid;
  grid-template: 1fr 1fr / 1fr 130px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 10px;

  &_edit {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 25px;
  }
}

.personal-data_as_start {
  align-self: flex-start;
}

.personal-data_as_end {
  align-self: flex-end;
}

.personal-data_js_end {
  justify-self: end;
}

.personal-data__photo {
  grid-row: 1/3;
  grid-column: 2/3;
}

.personal-data__title {
  font-weight: 500;
  font-size: 22px;
}

.personal-data__param {
  display: flex;
  align-items: center;

  & span {
    font-size: 18px;

    &:first-child {
      font-weight: 500;
      margin-right: 10px;
    }

    &:last-child {
      color: #757575;
    }
  }
}

.personal-data__buttons {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 2.7vw;
}

.personal-data__btn {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.personal-data__new-photo {
  justify-self: flex-end;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &-icon {
    width: 70px;
    height: 70px;
    fill: #FF4081;
  }

  &:hover {
    cursor: pointer;
  }

  &.hovered {
    border: 4px solid #FF4081;
  }
}

.personal-data__inputs {
  display: grid;
  align-content: center;
  grid-template-rows: repeat(2, 30px);
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  align-items: center;

  & div {
    display: grid;
    grid-template-columns: 85px 250px;
    grid-gap: 25px;
    align-items: center;
  }

  & span {
    font-weight: 500;
    font-size: 18px;
  }
}

.editor-enter-active,
.static-enter-active {
	transition: all .5s ease .2s;
}

.editor-enter,
.editor-leave-to,
.static-enter,
.static-leave-to {
	opacity: 0;
}

.editor-leave,
.static-leave {
	display: none;
}