.task__container {
	padding: 15px;
	width: 28.125vw;
	height: 26.666vh;
	border-radius: 15px;
	background: #3F51B5;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.task__container-image {
	width: 40px;
	height: 40px;
	fill: #fff;
	align-self: flex-start;
}

.task__container-send {
	width: 30px;
	height: 30px;
	fill: #FF4081;
	align-self: flex-end;
}

.task__container-title {
	color: #fff;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.task__container_add {
	background: #fff;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: '+';
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		font-weight: 100;
		width: 7vw;
		height: 7vw;
		border-radius: 50%;
		color: #FF4081;
		border: 2px solid #FF4081;
	}

	&:hover {
		cursor: pointer;
	}
}