@import "../../mixins.scss";

.task__container {
	padding: 15px;
	min-width: 470px;
	width: 28.125vw;
	min-height: 240px;
	max-height: 300px;
	height: 26.666vh;
	border-radius: 15px;
	background: #3F51B5;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@include desktop {
		min-height: 180px;
		max-height: 270px;
		height: 23vh;
		min-width: 370px;
	}

	@include tablets {
		padding: 10px;
		min-height: 150px;
		max-height: 250px;
		height: 20vh;
		min-width: 320px;
		width: 25vw;
	}

	@include phones {
		min-width: 100%;
		width: calc(100vw - 17px);
	}

	&.active {
		background: #FF4081;
	}
}

.task__container-image {
	width: 40px;
	height: 40px;
	fill: #fff;
	align-self: flex-start;

	@include desktop {
		width: 35px;
		height: 35px;
	}

	@include tablets {
		width: 30px;
		height: 30px;
	}

	@include phones {
		width: 20px;
		height: 20px;
	}
}

.task__container-send {
	width: 30px;
	height: 30px;
	fill: #FF4081;
	align-self: flex-end;

	@include desktop {
		width: 25px;
		height: 25px;
	}

	@include tablets {
		width: 20px;
		height: 20px;
	}

	@include phones {
		width: 15px;
		height: 15px;
	}
}

.task__container-title {
	color: #fff;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	padding: 10px 0;

	@include desktop {
		font-size: 18px;
		line-height: 20px;
	}

	@include tablets {
		font-size: 16px;
		line-height: 18px;
	}

	@include phones {
		font-size: 14px;
		line-height: 16px;
	}
}

.task__container_add {
	background: #fff;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: '+';
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		font-weight: 100;
		width: 7vw;
		height: 7vw;
		border-radius: 50%;
		color: #FF4081;
		border: 2px solid #FF4081;
	}

	&:hover {
		cursor: pointer;
	}
}