@import "../../mixins.scss";

.input {
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.1em;
	color: #757575;
	padding: 10px 20px;
	border-radius: 15px;
	max-width: 520px;
	width: 28vw;
	outline: none;
	border: 1px solid #BDBDBD;

	@include desktop {
		max-width: 450px;
		min-width: 370px;
		width: 37vw;
		padding: 10px 15px;
		font-size: 14px;
		line-height: 22px;
	}

	@include tablets {
		max-width: 370px;
		min-width: 300px;
		width: 60vw;
		font-size: 14px;
		line-height: 16px;
	}

	@include phones {
		font-size: 12px;
		line-height: 14px;
		width: 290px;
	}

	&_size_small {
		padding: 7px 14px;
		max-width: 335px;
		min-width: 200px;
		width: 17.5vw;

		@include phones {
			width: 100%;
		}
	}

	&::placeholder {
		color: #bdbdbd;
	}
}

.checkbox {
	display: none;

	&:checked {
		~div .check-picture .check-picture_active {
			display: block;
		}
	}
}

.check-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	margin-right: 5px;

	&_active {
		display: none;
		width: 12px;
		height: 12px;
		fill: #FF4081;
	}

	&:hover {
		cursor: pointer;
	}
}

.error {
	border: 1px solid #FF4081;
}

label {
	position: relative;
}

.input__error-message {
	width: fit-content;
	position: absolute;
	left: calc(100% + 10px);
	top: 50%;
	transform: translate(0, -50%);
	color: #FF4081;
	font-size: 18px;
	font-weight: 500;
}

.check-input {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}