.input {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.1em;
	color: #757575;
	padding: 1.33vh 1.736vw;
	border-radius: 15px;
	width: 28.125vw;
	outline: none;
	border: 1px solid #BDBDBD;

	&_size_small {
		padding: 7px 14px;
		width: 250px;
	}

	&::placeholder {
		color: #bdbdbd;
	}
}

.checkbox {
	display: none;

	&:checked {
		~ div .check-picture .check-picture_active {
			display: block;
		}
	}
}

.check-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	margin-right: 5px;

	&_active {
		display: none;
		width: 12px;
		height: 12px;
		fill: #FF4081;
	}

	&:hover {
		cursor: pointer;
	}
}

.error {
	border: 1px solid #FF4081;
}

label {
	position: relative;
}

.input__error-message {
	width: fit-content;
	position: absolute;
	left: calc(100% + 10px);
	top: 50%;
	transform: translate(0, -50%);
	color: #FF4081;
	font-size: 18px;
	font-weight: 500;
}

.check-input {
	display: flex;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}