.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.1em;
	color: #FF4081;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 1.666vh;

	&::before {
		content: '';
		display: block;
		height: 1px;
		width: 3%;
		margin-right: 20px;
		background: #FF4081;
	}

	&::after {
		content: '';
		display: block;
		height: 1px;
		flex: 1;
		margin-left: 20px;
		background: #FF4081;
	}
}