.btn {
	padding: 1.33vh 0;
	width: 28.125vw;
	text-align: center;
	background: #303F9F;
	border-radius: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.1em;
	color: #fff;
	transition: background .3s ease;

	&:hover {
		background: #FF4081;
	}

	&:disabled {
		background: #bdbdbd;

		&:hover {
			background: #bdbdbd;
		}
	}
}

.btn-type {
	align-self: center;
	justify-self: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #303F9F;

	&__img {
		width: 13px;
		height: 13px;
		fill: #fff;
	}

	&_exit {
		background: #FF4081;
	}
}

.btn-file-input {
  position: absolute;
  top: 0;
  left: -9999px;
}