@import "../../mixins.scss";

.btn {
	padding: 10px 2vw;
	text-align: center;
	background: #3F51B5;
	border-radius: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
	color: #fff;
	transition: background .3s ease;

	&:hover {
		background: #FF4081;
	}

	&:disabled {
		background: #bdbdbd;

		&:hover {
			background: #bdbdbd;
		}
	}

	@include desktop {
		font-size: 14px;
		line-height: 18px;
	}
	
	@include tablets {
		font-size: 12px;
		line-height: 14px;
		padding: 10px 3vw;
	}
	
	@include phones {
		font-size: 9px;
		line-height: 12px;
		padding: 10px 5vw;
	}
}

.btn-type {
	align-self: center;
	justify-self: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #303F9F;

	&__img {
		width: 13px;
		height: 13px;
		fill: #fff;

		@include tablets {
			width: 10px;
			height: 10px;
		}
	}

	&_exit {
		background: #FF4081;
	}

	@include tablets {
		width: 22px;
		height: 22px;
	}
}

.btn-file-input {
	position: absolute;
	top: 0;
	left: -9999px;
}