@import "../../mixins.scss";

* {
	outline: none;
}

.list {
	user-select: none;
	display: flex;
	align-items: center;
	height: 25.55vh;

	@include desktop {
		height: 23vh;
	}

	@include tablets {
		height: 20vh;
	}
}