@import "../../mixins.scss";

.main-header__user {
	display: flex;
}

.main-header__user-data {
	font-size: 16px;
	line-height: 19px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include desktop {
		font-size: 14px;
		line-height: 16px;
	}

	@include tablets {
		font-size: 12px;
		line-height: 14px;
	}

	@include phones {
		font-size: 10px;
		line-height: 12px;
	}
}

.main-header__user-name {
	font-weight: 500;
	color: #212121;
	margin-bottom: 5px;

	@include desktop {
		font-size: 16px;
		line-height: 18px;
	}

	@include tablets {
		font-size: 14px;
		line-height: 16px;
	}

	@include phones {
		font-size: 10px;
		line-height: 12px;
	}
}

.main-header__user-group {
	font-weight: normal;
	color: #757575;
}

.photo {
	width: 50px;
	height: 50px;
	margin-left: 1.18vw;

	@include tablets {
		width: 40px;
		height: 40px;
	}
}