@import "../../mixins.scss";

.header {
	margin-bottom: 2.7vh;
}

.header__container {
	padding: 0 2.08vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include desktop {
		align-items: center;
		flex-direction: column-reverse;
	}
}

.user {
	@include desktop {
		margin-bottom: 15px;
	}
	
	@include tablets {
		align-self: flex-end;
	}
}