@import "../../mixins.scss";

.link-send {
	width: 20px;
	height: 20px;

	&__img {
		fill: #FF4081;

		&.active {
			fill: #3F51B5;
		}
	}

	@include phones {
		width: 15px;
		height: 15px;
	}
}

.link-file {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;

	&__img {
		width: 60px;
		height: 60px;

		@include desktop {
			width: 50px;
			height: 50px;
		}

		@include tablets {
			width: 40px;
			height: 40px;
		}
	}

	&.disabled {
		pointer-events: none;
	}
}

.file-name {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	color: #212121;

	@include tablets {
		font-size: 12px;
	}
}