.container {
	margin: 0 1.736vw;
	padding: 5px 0;
	width: 20.138vw;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.1em;
}

.date {
	color: #757575;
	margin-bottom: 0.77vh;
}

.text {
	width: 100%;
	color: #212121;
	text-overflow: ellipsis;
}