@import "../../mixins.scss";

* {
	outline: none;
}

.item {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-width: 350px;
	max-width: 23.61vw;
	height: 100%;
	border-right: 1px solid #BDBDBD;

	&:last-child {
		border: 0;
	}

	@include desktop {
		min-width: 250px;
	}

	@include phones {
		min-width: 150px;
	}
}