@import "../../mixins.scss";

* {
	outline: none;
}

.item {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-width: 350px;
	max-width: 23.61vw;
	height: 100%;
	border-right: 1px solid #BDBDBD;

	&:last-child {
		border: 0;
	}

	@include desktop {
		min-width: 250px;
	}

	@include phones {
		min-width: 150px;
	}
}

.home-info__stub {
	padding: 30px 0;
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-weight: 500;
	color: #212121;

	@include desktop {
		font-size: 16px;
	}

	@include tablets {
		font-size: 14px;
	}

	@include phones {
		font-size: 12px;
	}
}