@import "../../mixins.scss";

.current-task__content {
	display: flex;
	justify-content: space-between;

	@include phones {
		flex-direction: column;
		text-align: center;
	}
}

.current-task__content {
	padding: 0 2.08vw;
	margin-bottom: 50px;

	@include desktop {
		margin-bottom: 30px;
	}
}

.current-task__wording {
	flex: 2;
	position: relative;
	padding: 20px 25px 20px 0;
	margin-right: 25px;
	width: 70%;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.1em;
	color: #212121;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		height: 100%;
		width: 2px;
		background: #bdbdbd;

		@include phones {
			display: none;
		}
	}

	@include desktop {
		line-height: 22px;
	}

	@include tablets {
		font-size: 14px;
		line-height: 20px;
	}

	@include phones {
		font-size: 14px;
		line-height: 18px;
		padding: 0;
		width: 100%;
	}
}

.current-task__note {
	flex: 1.5;
	margin: 0;
	padding: 20px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #757575;

	@include tablets {
		font-size: 14px;
		line-height: 20px;
	}

	@include phones {
		text-align: left;
	}

	& pre {
		margin: 0;
	}
}

.current-task__btn {
	padding: 1vh 45px;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}

	@include tablets {
		padding: 1vh 30px;
	}

	@include tablets {
		padding: 1vh 30px;
	}

	@include phones {
		padding: 1vh 25px;
	}
}

.current-task__textarea {
	width: 100%;
	height: 13vh;
	border-radius: 15px;
	border: 1px solid #bdbdbd;
	outline: none;
	resize: none;
	padding: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #757575;

	&::placeholder {
		color: rgba($color: #757575, $alpha: .5);
	}

	@include tablets {
		height: 11vh;
	}

	@include phones {
		font-size: 12px;
		line-height: 14px;
	}
}

.start-enter-active {
	transition: all .5s ease .2s;
}

.start-enter,
.start-leave-to {
	opacity: 0;
}

.start-leave {
	display: none;
}

.form {
	transition: all 1s ease;
	padding: 0 2.08vw;
}

.form__data {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 15px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	transition-property: height;
	transition: height .5s ease;
}

.send-task__button {
	padding: 20px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&-cross {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 2px solid #FF4081;

		&::after,
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: '';
			display: block;
			width: 14px;
			height: 2px;
			background: #FF4081;
		}

		&::after {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		@include desktop {
			width: 40px;
			height: 40px;
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.answer-container {
	padding: 20px 2.08vw;
}

.files {
	margin-left: 5px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	margin-right: -25px;

	& li {
		margin-right: 25px;
		margin-bottom: 20px;
	}

	@include phones {
		justify-content: center;
	}
}

.answer-files__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -20px;

	& li {
		margin-right: 25px;
		margin-bottom: 20px;
	}

	@include phones {
		justify-content: center;
	}
}

.answer__add-files-container {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 50px;
}

.active-task {
	& .buttons {
		padding: 0 2.08vw;
	}
}

.components {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 50px;

	& li {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.components__title {
	font-size: 16px;
	font-weight: 500;
	color: #212121;
	margin-bottom: 10px;

	@include desktop {
		font-size: 14px;
	}

	@include tablets {
		font-size: 12px;
	}

	@include phones {
		font-size: 10px;
	}
}

.components__answer {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #212121;

	& span:first-child {
		margin-right: 5px;
		color: #757575;
	}

	@include desktop {
		font-size: 14px;
	}

	@include tablets {
		font-size: 12px;
	}

	@include phones {
		font-size: 10px;
	}
}