.buttons {
	padding: 0 2.08vw;
	width: 100%;
	display: flex;
	justify-content: center;

	& button {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.editor-enter-active,
.static-enter-active {
	transition: all .5s ease .2s;
}

.editor-enter,
.editor-leave-to,
.static-enter,
.static-leave-to {
	opacity: 0;
}

.editor-leave,
.static-leave {
	display: none;
}
