.photo {
	overflow: hidden;
	position: relative;

	&-img {
		border-radius: 50%;
	}
}

.photo__empty {
	width: 100%;
	height: 100%;
	border: 1px solid #bdbdbd;
	background: #fff;
	border-radius: 50%;
	display: flex;
  justify-content: center;
  align-items: center;

	&-icon {
    width: 50%;
    height: 50%;
    fill: #FF4081;
  }
}

.photo-active {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #F9FAFB;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #FF4081;
	}
}