@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "../node_modules/normalize.css/normalize.css";
@import "./mixins.scss";

html {
  font-size: 14px;

  @include desktop {
    font-size: 13px;
  }

  @include tablets {
    font-size: 12px;
  }
}

::selection {
  background: #bdbdbd;
}

body,
html {
  height: 100vh;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color_light;
  overflow: hidden;
  background: url("./images/content/BG.jpg") center center / cover no-repeat;
  ;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.97);
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  z-index: 5;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;

  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

td {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all .3s ease;
}

img,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.notification {
  transition: transform .3s ease;
}

.notify-container {
  position: fixed;
  z-index: 100;
  top: 100%;
  left: calc(50% + 227px / 2);
  transform: translateX(-50%);

  &.active {
    .notification {
      transform: translateY(-100%);
    }
  }

  @include tablets {
    left: 50%;
  }
}