.contacts {
	padding: 0 2.08vw;
}

.contacts__list {
	display: grid;
	margin-top: 20px;
	grid-template-columns: repeat(auto-fit, 784px);
	grid-gap: 45px;
	justify-items: center;
	justify-content: center;
}

.contacts__item {
	display: flex;
	align-items: center;
}

.contact__photo {
	flex-shrink: 0;
	overflow: hidden;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #bdbdbd;
	margin-right: 20px;

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.contact__info {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	min-width: 340px;
}

.contact__name {
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	color: #212121;
	margin-bottom: 5px;
}

.contact__post {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #757575;
	margin-bottom: 15px;
}

.contact__phone,
.contact__mail {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 5px;

	& span {
		&:first-child {
			color: #212121;
			margin-right: 5px;
		}

		&:last-child {
			color: #757575;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}